<nav class="navbar-container" [class.with-offset]="navbarOffset">

  <!-- IZQUIERDA -->
  <div class="navbar-left">
    🌿 <span class="logo-text">Portal Empleos</span>
  </div>

  <!-- CENTRO -->
  <ul class="navbar-links">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/ofertas-laborales">Ofertas</a></li>

    <li *ngIf="isUser()">
      <a routerLink="/candidato">Mis postulaciones</a>
    </li>

    <li *ngIf="isCompany()">
      <a routerLink="/empresa">Mis ofertas</a>
    </li>

    <li *ngIf="isAdmin()">
      <a routerLink="/admin">Administración</a>
    </li>

    <li *ngIf="isLoggedIn">
      <a routerLink="/perfil">Perfil</a>
    </li>
  </ul>

  <!-- DERECHA -->
  <div class="navbar-right">

    <!-- 🔥 Switch Día/Noche -->
    <button class="mode-btn" (click)="toggleTheme()">
      <div class="toggle-ball" [class.dark]="isDark"></div>
    </button>

    <!-- Login / Logout -->
    <a *ngIf="!isLoggedIn" class="login-btn" routerLink="/login">Iniciar sesión</a>

    <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">Cerrar sesión</button>

  </div>

</nav>
