<nav class="navbar-container" [class.with-offset]="navbarOffset">

  <!-- IZQUIERDA (LOGO) -->
  <div class="navbar-left"
       (click)="goHome()"
       [class.logo-zoom]="logoZoom">

    <img src="assets/img/icono.jpg" class="logo-img" alt="Logo" />
    <span class="logo-text">Portal Empleos</span>

  </div>

  <!-- CENTRO -->
  <ul class="navbar-links">

    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/ofertas-laborales">Ofertas</a></li>

    <li *ngIf="isUser()">
      <a routerLink="/candidato">Mis postulaciones</a>
    </li>

    <li *ngIf="isCompany()">
      <a routerLink="/empresa">Mis ofertas</a>
    </li>

    <li *ngIf="isUser()">
      <a routerLink="/perfil">Perfil</a>
    </li>

    <li *ngIf="isCompany()">
      <a routerLink="/perfil-empresa">Perfil Empresa</a>
    </li>

    <li *ngIf="isAdmin()">
      <a routerLink="/admin">Administración</a>
    </li>

  </ul>

  <!-- DERECHA -->
  <div class="navbar-right">

    <a *ngIf="!isLoggedIn" class="login-btn" routerLink="/login">
      Iniciar sesión
    </a>

    <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">
      Cerrar sesión
    </button>

  </div>

</nav>
