<div class="login-page">

  <div class="login-container">

    <h1 class="login-title">Registro de Empresa</h1>
    <p class="login-text">
      Crea tu cuenta empresarial para publicar vacantes.
    </p>

    <form (ngSubmit)="onRegister()" #form="ngForm" class="login-form" novalidate>

      <!-- NIT -->
      <label>NIT o identificación tributaria *</label>
      <input
        type="text"
        name="nit"
        [(ngModel)]="nit"
        #nitCtrl="ngModel"
        placeholder="900123456-7"
        required
        pattern="^[0-9]+(-[0-9])?$"
        minlength="5"
        maxlength="15"
      />
      <p class="error" *ngIf="nitCtrl.invalid && nitCtrl.touched">
        Solo números y un guion opcional (Ej: 900123456-7)
      </p>

      <!-- Nombre -->
      <label>Nombre de la empresa *</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        placeholder="Mi Empresa S.A.S."
        required
      />

      <!-- Email -->
      <label>Correo electrónico *</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        #emailCtrl="ngModel"
        required
        email
        placeholder="empresa@correo.com"
      />
      <p class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">
        Ingresa un correo válido.
      </p>

      <!-- Password + Ojo -->
      <label>Contraseña *</label>
      <div class="password-box">

        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="********"
        />

        <span class="eye" (click)="togglePassword()">
          <img *ngIf="!showPassword" src="assets/img/eye.svg.png" alt="Mostrar">
          <img *ngIf="showPassword" src="assets/img/eye-off.svg.png" alt="Ocultar">
        </span>

      </div>

      <!-- Sitio Web -->
      <label>Sitio web (opcional)</label>
      <input
        type="text"
        name="website"
        [(ngModel)]="website"
        placeholder="https://"
      />

      <!-- Ubicación -->
      <label>Ubicación</label>
      <input
        type="text"
        name="location"
        [(ngModel)]="location"
        placeholder="Ciudad, País"
      />

      <!-- Descripción -->
      <label>Descripción</label>
      <textarea
        class="empresa-textarea"
        name="description"
        [(ngModel)]="description"
        placeholder="Describe brevemente tu empresa..."
      ></textarea>

      <!-- Botón -->
      <button type="submit" [disabled]="loading || form.invalid">
        {{ loading ? 'Registrando...' : 'Registrar Empresa' }}
      </button>

    </form>

    <p class="register-text">
      ¿Ya tienes cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>

  </div>

</div>
