.admin-container {
  padding: 30px;
}
.table-container {
  margin-bottom: 30px;
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
