<div class="page-container">
<section class="detalle-container" *ngIf="!cargando && job">
  <div class="detalle-card">
    <img
      [src]="job.company?.urlImg || 'assets/img/default-job.png'"
      class="empresa-logo"
    />

    <h2>{{ job.title }}</h2>
    <h4>{{ job.company?.name }}</h4>
    <p class="ubicacion">📍 {{ job.location }}</p>

    <p class="descripcion">{{ job.description }}</p>

    <hr />

    <div class="botones">
      <button
        *ngIf="auth.getRole() === 'USER' && !yaPostulado"
        (click)="postular()"
        class="btn-postular"
      >
        Postularme
      </button>

      <button
        *ngIf="auth.getRole() === 'USER' && yaPostulado"
        class="btn-ya-postulado"
        disabled
      >
        Ya te has postulado
      </button>

      <button class="btn-volver" routerLink="/ofertas-laborales">
        ⬅ Volver
      </button>
    </div>
  </div>
</section>
</div>
