<div class="postulantes-container">

  <h2>Postulantes de: {{ job?.title }}</h2>

  <div *ngIf="postulantes.length === 0">
    <p>No hay postulantes aún.</p>
  </div>

  <div class="postulante-card" *ngFor="let p of postulantes">

    <h3>{{ p.user.name }}</h3>

    <p><strong>Email:</strong> {{ p.user.emailEntity?.email || 'Sin correo' }}</p>

    <p><strong>Estado actual:</strong> {{ p.status }}</p>

    <!-- CV -->
    <ng-container *ngIf="p.user.cvUrl; else sinCV">
      <a class="cv-btn" [href]="p.user.cvUrl" target="_blank">📄 Ver Hoja de vida</a>
    </ng-container>

    <ng-template #sinCV>
      <p class="no-cv">❌ Este candidato no adjuntó hoja de vida.</p>
    </ng-template>

    <br />

    <!-- SELECT ESTILIZADO -->
    <select class="estado-select"
            (change)="cambiarEstado(p.idApplication, ($event.target as HTMLSelectElement).value)"
            [value]="p.status">

      <option value="IN_PROGRESS">En revisión</option>
      <option value="ACCEPTED">Aceptar</option>
      <option value="REJECTED">Rechazar</option>

    </select>

  </div>

  <button routerLink="/empresa" class="volver-btn">⬅ Volver</button>

</div>
